{{ partial "header.html" . }}

<header class="tb-post-header">
  <h1 class="tb-hero-title">
    {{ .Title }}
  </h1>
  <p class="tb-hero-p">
    {{ .Param "excerpt" }}
  </p>
  <small>
  {{ partial "byauthor.html" . }}
  {{ partial "postdate.html" . }}
  <a href="{{ .Permalink }}#disqus_thread" class="tb-lnk-comments">Comentários</a>
  <span class="tb-post-time-read">~ {{.ReadingTime}} min. / {{.WordCount}} palavras</span>
  </small>
</header>

<div class="tb-post">

  <section class="tb-post-content">
    <article class="tb-post-article">
      {{.Content}}
    </article>


    {{ partial "sponsors/sponsor-paragraph.html" . }}

    <div class="tb-banner-article">
      <script class='__lxGc__' type='text/javascript'>
          ((__lxGc__=window.__lxGc__||{'s':{},'b':0})['s']['_210746']=__lxGc__['s']['_210746']||{'b':{}})['b']['_609152']={'i':__lxGc__.b++};
      </script>
    </div>

    <aside class="tb-aside">

      {{ $related := .Site.RegularPages.Related . | first 5 }} {{ with $related }}

      <h2>Leia também:</h2>
      <ul>
        {{ range . }}
        <li><a href="{{ .RelPermalink }}?utm_source=lista-relacionado" class="tb-sidebarrelated-post">{{ .Title }}</a></li>
        {{ end }}
      </ul>

      {{ end }}

    </aside>

    <h2>Deixe um comentário</h2>
    {{ partial "disqus.html" . }}
  </section>


</div>

{{ partialCached "footer.html" . }}


